/*Estilização do BODY da página*/
body{
    margin: 0;
    border: 0;
    font-family: "Arial";
}
/*Estização do HEADER da página*/
header{
    background-color:  rgb(49, 92, 111);
    padding: 10px 0 10px 10px;
}

.logo {
    width: 8%;
}
/*Estilização do MENU do site*/

 nav {
        color: white;
        font-size: 28;
        right: 100px;
        top: 50px;
        position: absolute;
   }


nav li{
    display: inline;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}
nav li a{
    color: white;
    text-decoration: none;
}

/*Estilização da DIV do header */
.divHeader {
    position: relative;
}

/*Estilização do BANNER abaixo do header*/
.banner {
    width: 100%;
    height: 40%;
    object-fit: cover;
}

/*Estilização da sessão SOBRE NÓS*/
.sobre_nos {
    margin: 0;
    text-align: justify;
    width: 70%;
    margin-left: 15%;
}
.img_sobrenos {
    width: 15%;
    float: left;
    margin-right: 20px;
}
.titulo_sobrenos {
    text-align: center;
    clear: left;
}
/*Estilização da sessão NOSSO ESTABELECIMENTO*/
.mapaGeral {
    background: linear-gradient(#ffffff, #468a94, #5a7d8a);
}
.mapaGeral p{
    text-align: center;
}
.mapa {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
/* Estilização da seção NOSSOS SERVIÇOS */
.nossosservicos {
    padding: 2%;
    background: linear-gradient(#5a7d8a, #315c6f, rgb(49, 92, 111));
}

.div_nossosservicos {
    width: 60%;
    margin-left: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lista_nossosservicos {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap; 
    list-style: none;
    
}

.lista_nossosservicos li {
    line-height: 2;
    margin-right: -20px;
}

.lista_nossosservicos li:before {
    content: "★ ";
    color: #ffbf00; /* Cor dourada para a estrela */
}

.img_nossosservicos {
    width: 30%;
    border-radius: 8px;
    box-shadow: 10px 10px 5px 0px #000000;
    opacity: 1;
    transition: 400ms;
}

.img_nossosservicos:hover {
    opacity: 0.5;
}


.video{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
/*Estilização do Footer*/
footer{
    background: url("../img/fundo_rodape.png");
    background-size: cover;
    background-position: center;
    background-color: rgba(0,0,0,0.6);
    background-blend-mode: darken;
    padding: 30px 10px 10px 0;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center;
    text-align: center;  /* Alinha o texto dentro dos elementos */
    padding: 2rem;
    background-color: #222; /* só pra exemplo visual */
}

footer p {
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin: 0.5rem 0;
    text-align: center;
}

footer i {
    color: white;
}

/* Centraliza a logo */
.logo_footer {
    width: 12%;
    padding: 0;
    margin: 1rem auto; /* Centraliza horizontalmente */
    display: block;
}
